@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');


* {
   margin: 0;
   text-decoration: none;
   scroll-behavior: smooth;
}

body,
html {
   overflow-x: hidden;
}

/* for customized scrollbar */
body {
   overflow: auto;
   scrollbar-width: thin;
   /* For Firefox */
   scrollbar-color: transparent transparent;
   /* For Chrome, Edge, and Safari */
}

/* For Chrome, Edge, and Safari */
body::-webkit-scrollbar {
   width: 3px;
}

body::-webkit-scrollbar-thumb {
   background-color: #888;
   border-radius: 3px;
}

body::-webkit-scrollbar-track {
   background: rgb(19, 19, 19);

}


/* preloader styling */
#preloader {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #000000;
   z-index: 9999;
   display: flex;
   justify-content: center;
   align-items: center;
   opacity: 1;
   transition: opacity 0.5s ease-in-out;

}

#preloader.fade-out {
   opacity: 0;
}

.lds-grid {
   display: inline-block;
   position: relative;
   width: 80px;
   height: 80px;
}

.lds-grid div {
   position: absolute;
   width: 16px;
   height: 16px;
   border-radius: 50%;
   background: crimson;
   animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
   top: 8px;
   left: 8px;
   animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
   top: 8px;
   left: 32px;
   animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
   top: 8px;
   left: 56px;
   animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
   top: 32px;
   left: 8px;
   animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
   top: 32px;
   left: 32px;
   animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
   top: 32px;
   left: 56px;
   animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
   top: 56px;
   left: 8px;
   animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
   top: 56px;
   left: 32px;
   animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
   top: 56px;
   left: 56px;
   animation-delay: -1.6s;
}

@keyframes lds-grid {

   0%,
   100% {
      opacity: 1;
   }

   50% {
      opacity: 0.5;
   }
}


html,
body {
   overflow: hidden;
}

.header-bg {
   position: fixed;
   width: 100%;
   z-index: 99;
   font-family: 'Ubuntu', sans-serif;
   transition: all 0.6s ease;



}


.header-bg .max-width {
   display: flex;
   align-items: center;
   justify-content: space-between;

}


a.nav-link.text-white:hover {
   color: rgb(192, 191, 191) !important;
   transition: color 0.4s;

}

/* particles styling */

#particles-js{
   position: absolute;
   top: 10px;
   width: 100%;
   height: 117vmin;
}




/* home section styling */
.home {
   display: flex;
   background: url("../img/background-image.jpg");
   display: cover;
   background-size: cover;
   height: 120vmin;
   color: #fff;
   font-family: 'Ubuntu', sans-serif;
   background-repeat: no-repeat;
   background-position: center;

}

.home .max-width {
   margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
   font-size: 2vw;


}

.home .home-content .text-2 {
   font-size: 6vw;
   font-weight: 600;
   margin-left: -3px;

}

.home .home-content .text-3 {
   font-size: 3vw;
   margin: 5px 0;


}

.home .home-content .text-3 span {
   color: crimson;
   font-weight: 500;


}


/* about section styling */


.about {
   padding: 100px 0;
   background-color: gainsboro;
}

.about {
   font-family: 'Poppins', sans-serif;

}

.about .title {
   font-family: 'Ubuntu', sans-serif;
   text-align: center;
   font-size: 40px;


}

.about .container .left-col img {
   width: 50%;
   height: auto;
   object-fit: cover;
}


.about .about-content {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
}





.about .container .right-col .text {
   font-size: 2vw;
   font-weight: 600;
   margin-bottom: 10px;
}

.about .container .row .resume {
   margin: 0 auto;
   margin-top: 30px;
}

.about .container .resume a {
   font-size: 22px;
   background-color: rgb(114, 114, 114);
   padding: 7px 10px;
   font-family: 'Ubuntu', sans-serif;
   text-decoration: none;
   color: whitesmoke;
   box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.4);
   transition: transform 0.2s ease-in-out;
   display: inline-block;
   border-radius: 5px;


}

.about .container .resume a i {
   color: #444444;
   padding-right: 8px;
}

.about .container .resume a:hover {
   display: inline-block;
   transform: translateY(-1.9px);
   background-color: rgb(85, 85, 85);
   transition: all 0.2s ease-in-out;

}


.about .container .left-col {
   width: 45%;
}


.about .container .right-col {
   width: 55%;
   padding-top: 7%;


}

.about .container .right-col .text span {
   color: crimson;
}

.about .container .right-col p {
   text-align: justify;
}









/* passion styling */

.passion {
   background-color: #111;
   padding-bottom: 120px;
}



.passion .row .card {
   background-color: #222;
   color: gainsboro;
   height: 97%;
   font-size: 15px;
   border-radius: 7px;
   transition: all 0.5s ease-in;


}

.passion .title {
   color: gainsboro;
   font-family: 'Ubuntu', sans-serif;
   text-align: center;
   font-size: 40px;
   padding-top: 90px;
   padding-bottom: 60px;
}

.passion .card-title {
   text-align: center;
}

.passion .row #icon {
   text-align: center;
   color: red;
   font-size: 60px;
   padding-top: 7%;
   padding-bottom: 5%;
   transition: all 0.3s ease-in;

}


.passion .row .card:hover {
   background-color: crimson;
   cursor: pointer;
   transition: all 0.5s ease;



}

.passion .row .card .card-body {
   transition: all 0.3s ease;
}

.passion .row .card:hover .card-body {
   transform: scale(1.05);
}

.passion .row .card:hover #icon {
   color: gainsboro;
   transform: scale(1.08);

}

/* .about-me-visible {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  } */

/* skills section styling  */

.skills {
   background-color: gainsboro;
   padding-top: 80px;
   padding-bottom: 80px;
}

.skills h2 {
   text-align: center;
   padding-bottom: 80px;
   font-size: 40px;
   font-family: 'Ubuntu', sans-serif;
   font-weight: 700;


}

.skills .row {
   padding-bottom: 50px;
}

.skills .row .skill-icon img {
   width: 80px;
   height: auto;

}

.skills .row .skill-icon .bootstrap.skill-img {
   width: 140px;
   height: auto;
}

.skills .row.secnd .skill-icon img {
   width: 100px;
   height: auto;
}

.skills .row {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;

}

/* skill icon styling */
.skills .row .skill-icon .skill-img {
   transition: all 0.3s;

}

.skills .row .skill-icon .skill-img:hover {
   cursor: pointer;
   transform: scale(1.026);
   transition: all 0.3s;
}

/* giving skill icons drop shadow effect */

.skills .row .skill-icon .html5.skill-img:hover {
   filter: drop-shadow(-5px 20px 26px #EA8933);

}

.skills .row .skill-icon .css.skill-img:hover {
   filter: drop-shadow(-5px 20px 26px #6972e9);

}

.skills .row .skill-icon .js.skill-img:hover {
   filter: drop-shadow(-5px 20px 26px #eab933);

}

.skills .row .skill-icon .bootstrap.skill-img:hover {
   filter: drop-shadow(-5px 20px 26px #9f3fec);

}

.skills .row .skill-icon .github.skill-img:hover {
   filter: drop-shadow(-5px 20px 26px #707070);

}

.skills .row .skill-icon .jquery.skill-img:hover {
   filter: drop-shadow(-5px 20px 26px #3142da);

}

.skills .row .skill-icon .react.skill-img:hover {
   filter: drop-shadow(-5px 20px 26px #3fb5ec);

}

.skills .row .skill-icon .sass.skill-img:hover {
   filter: drop-shadow(-5px 20px 26px #ec3fb8);

}

/* tooltip box styling */

.tippy-box {
   margin-bottom: 25px;
   -webkit-box-shadow: 0px 1px 11px 0px rgba(0, 0, 0, 0.75);
   -moz-box-shadow: 0px 1px 11px 0px rgba(0, 0, 0, 0.75);
   box-shadow: 0px 1px 11px 0px rgba(0, 0, 0, 0.75);

}


.projects {
   background-color: #111;
   padding-bottom: 100px;
   padding-top: 36px;
   color: white;
}

.projects .container {
   padding-top: 50px;
}

.projects h2 {
   color: gainsboro;
   text-align: center;
   padding: 40px;
}

.projects .row {
   display: flex;
   justify-content: space-around;
   gap: 20px;
}

.projects .row .card {
   background-color: #222;
   border-radius: 6px;
   padding: 3px 8px;
   width: 300px;
   height: 320px;
   cursor: pointer;
   transition: all 0.5s;

}

.projects .row .card:hover {
   transform: translateY(-2%);
   transition: all 0.3s;
   -webkit-box-shadow: 0px 25px 16px -20px rgba(0, 0, 0, 0.75);
   -moz-box-shadow: 0px 25px 16px -20px rgba(0, 0, 0, 0.75);
   box-shadow: 0px 25px 16px -20px rgba(0, 0, 0, 0.75);

}

/* giving hover effect on card title */
.projects .row .card:hover .card-title {
   color: crimson;
   transition: all 0.5s;
}

.projects .row .card .card-title {
   font-weight: 600;
   font-size: 24px;
   text-decoration: none;
   color: white;
}

.projects .row .card .card-title:hover {
   text-decoration: underline;

}

.projects .row .card .card-text {
   padding-top: 14px !important;

   font-weight: 400;
   font-size: 13px;
   color: rgb(136, 136, 136);
   line-height: 1.3;
   text-align: justify;
}

.projects .row .card .icons {
   display: flex;
   justify-content: space-between;
   padding-bottom: 35px;
}

.projects .row .card .icons i {
   font-size: 33px;
   color: gainsboro;
}

.projects .row .card .icons .github i {
   color: gainsboro;
   display: inline-block;
}

.projects .row .card .icons .github i:hover {
   color: rgb(255, 43, 85);
   transition: all 0.4s;
}


.projects .row .card .skill {
   display: flex;
   justify-content: flex-start;
   position: absolute;
   bottom: 5px;

}

.projects .row .card .skill p {
   padding-right: 24px;
   font-family: "Gill Sans", sans-serif;
   font-weight: 300;
   color: gainsboro;
   font-size: 14px;
}

.projects .github-btn {
   padding-top: 90px;
   display: flex;
   justify-content: center;
}

.projects .github-btn a {
   font-size: 20px;
   background-color: rgb(114, 114, 114);
   padding: 13px;
   font-family: 'Ubuntu', sans-serif;
   text-decoration: none;
   color: white;
   text-shadow: 1px 4px 5px rgba(0, 0, 0, 0.6);
   box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.4);
   transition: transform 0.2s ease-in-out;
   display: inline-block;
   border-radius: 5px;

}

.projects .github-btn i {
   font-size: 26px;
   padding-right: 12px;
   color: #000000;
}

.projects .github-btn a:hover {
   display: inline-block;
   transform: translateY(-2.4px);
   background-color: rgb(85, 85, 85);
}





.contact .get-in-touch {
   font-size: 90px;
   text-align: center;
   padding-top: 10%;
   background-color: gainsboro;
   padding-bottom: 5%;
}

.contact .send-me {
   font-size: 24px;
   background-color: rgb(114, 114, 114);
   padding: 9px;
   font-family: 'Ubuntu', sans-serif;
   text-decoration: none;
   color: whitesmoke;

   box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.4);
   transition: transform 0.2s ease-in-out;
   display: inline-block;
   border-radius: 5px;


}

.contact .send-me:hover {
   display: inline-block;
   transform: translateY(-1.7px);
   background-color: rgb(85, 85, 85);
   text-shadow: 1px 4px 5px rgba(0, 0, 0, 0.6);

}

.footer {
   padding-top: 60px;
   padding-bottom: 18px;
   background-color: #111;
   text-align: center;
   color: gainsboro;
   font-size: 16px;
}

.social-media {
   font-size: 26px;
   padding: 15px;
   text-decoration: none;
   color: gainsboro;
}

.social-media:hover {
   color: rgb(151, 151, 151);

}






@media all and (max-width: 576px) {
   .header-bg h2 {
      font-size: 26px;

   }

   .home .max-width {
      margin: auto 0 auto 20px;
   }

   .home .home-content .text-1 {
      font-size: 5vw;
   }

   .home .home-content .text-2 {
      font-size: 9vw;
   }

   .home .home-content .text-3 {
      font-size: 5vw;
   }

   .about {
      padding-bottom: 60px;
   }

   .about .container .text {
      font-size: 5vw;
   }

   .about .container .right-col .text {
      font-size: 4vw;
   }

   .about .container .row .resume {
      margin: 0 auto;
      margin-top: 10px;
   }

   .about .container .resume a {
      font-size: 16px;
      padding: 9px 10px;
      


   }

   .about .container .resume a i {
      color: #444444;
      padding-right: 8px;
      font-size: 18px;

   }

  

   .contact .get-in-touch {
      font-size: 45px;
      padding-bottom: 15%;
      padding-top: 30%;
   }

   .contact .get-in-touch h2 {
      font-size: 25px;
   }

   .contact .send-me {
      font-size: 20px;

   }

   .footer {
      padding-top: 7%;

   }

   .social-media {
      font-size: 20px;
   }



   .skills .row .skill-icon img {
      width: 56px;
      height: auto;

   }

   .skills .row .skill-icon .bootstrap.skill-img {
      width: 86px;
      height: auto;
   }

   .skills .row.secnd .skill-icon img {
      width: 63px;
      height: auto;
   }






   .projects .github-btn a {
      font-size: 16px;
      background-color: rgb(114, 114, 114);
      padding: 10px;
      font-family: 'Ubuntu', sans-serif;
      text-decoration: none;
      color: rgb(221, 221, 221);
      box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.4);
      transition: transform 0.2s ease-in-out;
      display: inline-block;
      border-radius: 5px;

   }

   .projects .github-btn i {
      font-size: 22px;
      padding-right: 12px;
      color: #000000;
   }

   .projects .github-btn a:hover {
      display: inline-block;
      transform: translateY(-2.4px);
      background-color: rgb(85, 85, 85);
   }
}